
@font-face {
  font-family: 'Vietnam Pro';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/duchuy2023/public@main/BeVietnamPro-Regular.ttf');
}

@font-face {
  font-family: 'Vietnam Pro';
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/duchuy2023/public@main/BeVietnamPro-SemiBold.ttf');
}

@font-face {
  font-family: 'Vietnam Pro';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/duchuy2023/public@main/BeVietnamPro-Bold.ttf');
}

html { 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}
a{text-decoration: none;}

html, body{ 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	vertical-align: baseline;
	font-family: Vietnam Pro;
    font-size: 16px;
}

.clear:before,.clear:after{content:'';display:table; }
.clear:after{clear:both;}
.clear{zoom:1;}

/* Start Menu Styling 
--------------------------------------------- */

.nav{ 
	position:relative; 
	z-index:999;
  font-weight: 500 !important;
  cursor: pointer;
}
.nav ul, 
.nav ol, 
.nav dl, 
.nav li { 
	line-height:1.5em;
	list-style:none; 
}

/* Hide responsive menu trigger 
--------------------------------------------- */
.menu-icon { display:none; }

/* Start dropdown menu styling 
--------------------------------------------- */
ul.dropdown,
ul.dropdown li,
ul.dropdown ul { 
	margin: 0; 
	padding: 0; 
	
}

ul.dropdown{
	float:left;
	width:100%; 
	position: relative; 
}

ul.dropdown li { 
	float: left; 
	vertical-align: middle; 
	zoom: 1; /* IE6 */
}

/* General list styling 
-------------------------------------------- */
ul.dropdown li {  
	font-size:16px; 
	font-weight: 500;
	/*text-transform:uppercase; */
}

/* General links styling 
-------------------------------------------- */
ul.dropdown a,
ul.dropdown a:visited,	
ul.dropdown a:hover, 		
ul.dropdown a:active { 
	text-decoration: none; 
}

ul.dropdown a, 
ul.dropdown span { 
	display: block;
	outline:none; 
	cursor:pointer; 
	padding:13px 15px; 
}

ul.dropdown ul a,
ul.dropdown ul span {  
	padding:12px 15px; 
}	

ul.dropdown li:hover, 
ul.dropdown li.hover { 
	position: relative; 
	cursor:pointer; 
}

/* Level I+ 
--------------------------------------- */
ul.dropdown ul { 
	display:none; 
	position: absolute;
	z-index: 598;
	width: 220px; 
	top: 100%; 
	left: 0; 
}

 
ul.dropdown li:hover > ul{ 
	display:block;
}

ul.dropdown ul li { 
	float: none;
	font-size:16px;
	font-weight: normal; 
	text-transform:none;
	position:relative; 
}

ul.dropdown ul li.hover, 
ul.dropdown ul li:hover { /* background-color:#1ABC9C; color: #fff; */ }
ul.dropdown ul li a:hover { /* color: #fff; */ }
	
/* Level II +  
---------------------------------------- */
ul.dropdown ul ul { top:0; left:100%; }


/* Add trailing arrows 
---------------------------------------- */	
ul.dropdown *.sub { 
	padding-right:15px; 
	background-image: url(https://cdn.jsdelivr.net/gh/duchuy2023/public@main/nav-arrow-down-thin.gif); 
	background-position: 95% 50%; 
	background-repeat: no-repeat; 
}

ul.dropdown ul *.sub { 
	padding-right: 15px; 
	background-image: url(https://cdn.jsdelivr.net/gh/duchuy2023/public@main/nav-arrow-right-thin.gif);
	background-position: 100% 50%; 									  
	background-repeat: no-repeat; 
}

/* Change trailing arrows on :hover IE7+
--------------------------------------------------------- */
ul.dropdown li.sub:hover{  background-image: url(https://cdn.jsdelivr.net/gh/duchuy2023/public@main/nav-arrow-down.gif); } 
ul.dropdown ul li.sub:hover{ background-image: url(https://cdn.jsdelivr.net/gh/duchuy2023/public@main/nav-arrow-right.gif);  }

/* Main menu seperator 
---------------------------------------------- */																		  								  
ul.dropdown li.divider{ 
	padding:0!important; 
	margin:0!important; 
	border:0!important;
	display:block; 
	height:49px; 
	float:left;
	width:1px; 
}

ul.dropdown li.rtl ul { position: absolute; top: 100%; right:0; z-index: 598; left:auto; }
ul.dropdown li.rtl ul ul { top:0; right:100%; left:auto; }
ul.dropdown li.ltr ul, ul.dropdown li.ltr ul ul { top:0; left:100%!important; right:auto!important; }

/* Theme settings - Change your menu colors, bgcolors, border-colors
---------------------------------------------------------------------- */

/* Theme green black */
.green-black, 
.green-black ul.dropdown { background:#55c57a; }
.green-black ul.dropdown ul { background:#10886f; } 

.green-black ul.dropdown a,
.green-black ul.dropdown a:visited,	
.green-black ul.dropdown a:hover, 		
.green-black ul.dropdown a:active, 
.green-black ul.dropdown li  { color: #fff; }

.green-black ul.dropdown li:hover, 
.green-black ul.dropdown li.hover {  background-color:#10886f; color: #fff; }
.green-black ul.dropdown ul li {   border-bottom:1px solid #dee2e6;}

.green-black ul.dropdown ul li.hover, 
.green-black ul.dropdown ul li:hover { background-color:#55c57a;  color: #fff; }
.green-black ul.dropdown ul li a:hover { color: #fff; }
.green-black ul.dropdown li.divider{ background:#dee2e6;}
/* Responsiveness 
------------------------------------- */
/* All device screens < = 768px */
@media screen and (max-width: 768px) {
.menu-icon, 
.menu-icon span, 
.menu-icon { 
	color: #fff; 
	width:100%; 
	height:50px; 
	line-height:40px; 
	padding:5px; 
	font-size:1.3em; 
	font-weight:bold; 
	cursor: pointer; 
	display:block;
	position:relative;	
}
.menu-icon span{ 
	width: auto;
	padding:0 15px;
	padding-left:40px; 
	height:40px; 
	background:#10886f url(https://cdn.jsdelivr.net/gh/duchuy2023/public@main/nav-toggle.png) center no-repeat ; 
	color:#FFFFFF;
	text-align: center;
	text-indent:-999em; 
	display: inline-block;
	position:absolute;
	top:5px;
	right:5px;
}
.menu-icon:hover { }
.menu-icon:hover span{ }
.menu-icon.active { }
.menu-icon.active span{ }
html, body{ 
    font-size: 18px;
}
div#logo-pc{
    display: none;
}
.btn-user{
	margin-top: 15px;
}
.nav{ position:relative;  padding-top: 10px;padding-bottom: 10px;}
.nav,
ul.dropdown, 
.menu-icon, 
.menu-icon span, 
ul.dropdown *{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; } 	
ul.dropdown{  display:none; position: relative; top:-1px; border-top:1px solid #dee2e6;margin-top: 15px;}
ul.dropdown  li { position:relative; float:none; display:block; border-bottom:1px solid #dee2e6;}
ul.dropdown  li li{ border-top:0;}
ul.dropdown  ul a{ padding-left:25px; }
ul.dropdown  ul ul a{ padding-left:45px; }
ul.dropdown  ul a:hover  { background-color:#67de8e;}
ul.dropdown  li.sub ul > li{ /*border-top:1px solid;*/ }
ul.dropdown *.sub { padding:0!important; background-image: none!important; }
ul.dropdown ul{ overflow: hidden; max-height: 0; width:auto; display:block; position: static; }
ul.dropdown ul.current { display:block; max-height:100em; }
ul.dropdown li.sub > a{ padding-right:25px; }
ul.dropdown li.sub > a.current{ background:#16A085;  }
ul.dropdown li.sub > ul a.current{ background:#55c57a; }
ul.dropdown li.sub > a:after, 
ul.dropdown li.sub > a.current:after { position: absolute; top: 0; right: 0; display: block; font-size: 1.5em; padding: 0.55em 0.5em; }
ul.dropdown li.sub > a:after { content: '\002B'; }	
ul.dropdown li.sub > a.current:after { content: "\2013"; top:-2px; }	
ul.dropdown li.rtl ul, 
ul.dropdown li.ltr ul, 
ul.dropdown li.ltr ul ul, 
ul.dropdown li.rtl ul ul { position:static; }
ul.dropdown li.divider{ display:none!important; }

}
/* All device screens >  768px */
@media screen and (min-width: 769px) {
	ul.dropdown{ display:block !important ; }	 
}
#user {
	text-align: center;
}
.btn-user {
   white-space: inherit;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 140px;
    border-radius: 100px;
}

.btn-user-dangnhap{
	  background-color: #65b446;
    color: #fff;
    border-bottom: 4px solid #4d9830;
    border-right: 2px solid #4d9830;
}
.btn-user-dangnhap:hover {
    color: #4d9830;
    background-color: transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 1px solid #4d9830;
}
.btn-user-dangky {
    background-color: #fff;
    color: #2e3a59;
    border: 1px solid #c5cee0;
    border-bottom: 4px solid #c5cee0;
    border-right: 2px solid #c5cee0;
 
}
.btn-user-dangky:hover {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 1px solid #2e3a59;
}
.form-control{
	border: 1px solid #ddd !important;
    background-color: #fff !important;
}
.form-control:focus {
	outline: 0;
	box-shadow: none;
	border-bottom: 1px solid #ddd; -webkit-box-shadow: 0 1px 0 0 #87e263; box-shadow: 0 1px 0 0 #87e263; 
}
#timkiem {
	position: relative;
}
#timkiem>i {
	  position: absolute;
    font-size: 20px;
    color: #2e3a59;
    top: 8px;
    right: 30px;
}
.huongdan {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    text-decoration: none;
    margin-top: 15px;
}
.huongdan:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.04)
}
.zalo {
	background-color: #eff6ff;
    border-color: #bfdbfe;
}
.login-user {
  background-color: #fefce8;
    border-color: #fde68a;
}
.payment {
	background-color: #f5f3ff;
    border-color: #ddd6fe;
}
.huongdan span img {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-right: 15px;
}
.nd-huongdan h2 {
    font-weight: 600;
    color: #1f2937;
    font-size: 16px;
    margin: 0;
}
.nd-huongdan p {
    color: #6b7280;
    font-size: 16px;
    margin: 0;
}
.zalo i {
    color: #60a5fa;
}
.zalo span img{
		border: 2px solid #00339954 !important;
}
.login-user i {
    color: #facc15;
}
.login-user span img{
	border: 2px solid #fde68a !important;
}
.payment i {
    color: #a78bfa;
}
.payment span img{
		border: 2px solid #ab90fa !important;
}
.huongdan i {
    width: 20px;
    height: 20px;
    margin-left: auto;
}
footer {
    background: #55c57a;
    color: #fff;
}


.my-list .list-group-item {
  border-bottom: 1px dashed #eee;
}

.my-list .list-group-item:last-child ,.my-list .list-group-item:first-child  {
  border-bottom: 1px solid #dee2e6;
}

